@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@layer base {
  *,
  ::before,
  ::after {
    font-family: "Inter", sans-serif;
    @apply box-border;
  }

  html {
    scroll-behavior: smooth;
  }

  a {
    cursor: pointer;
  }

  :root {
    /* light theme  */

    /* --text: #091814;
    --background: #fafefd;
    --primary: #34dca8;
    --secondary: #83f5d1;
    --accent: #45fdc3; 
    */

    /* Light theme shades */
    --text-50: #e5e5ff;
    --text-100: #ccccff;
    --text-200: #9999ff;
    --text-300: #6666ff;
    --text-400: #3333ff;
    --text-500: #0000ff;
    --text-600: #0000cc;
    --text-700: #000099;
    --text-800: #000066;
    --text-900: #000033;
    --text-950: #00001a;

    --background-50: #f3f2fa;
    --background-100: #eeedf8;
    --background-200: #dddaf1;
    --background-300: #bcb6e2;
    --background-400: #9a91d4;
    --background-500: #786cc6;
    --background-600: #5647b8;
    --background-700: #453993;
    --background-800: #342b6e;
    --background-900: #231d49;
    --background-950: #110e25;

    --primary-50: #ecebfa;
    --primary-100: #d8d6f5;
    --primary-200: #b2aeea;
    --primary-300: #8b85e0;
    --primary-400: #655dd5;
    --primary-500: #3e34cb;
    --primary-600: #322aa2;
    --primary-700: #251f7a;
    --primary-800: #191551;
    --primary-900: #0c0a29;
    --primary-950: #060514;

    --secondary-50: #fee6ef;
    --secondary-100: #fecddf;
    --secondary-200: #fd9bbf;
    --secondary-300: #fc699f;
    --secondary-400: #fb377f;
    --secondary-500: #fa055f;
    --secondary-600: #c8044c;
    --secondary-700: #960339;
    --secondary-800: #640226;
    --secondary-900: #320113;
    --secondary-950: #190109;

    --accent-50: #feeae6;
    --accent-100: #fed4cd;
    --accent-200: #fdaa9b;
    --accent-300: #fc7f69;
    --accent-400: #fb5437;
    --accent-500: #fa2a05;
    --accent-600: #c82104;
    --accent-700: #961903;
    --accent-800: #641102;
    --accent-900: #320801;
    --accent-950: #190401;
  }
}

@theme {
  --color-text-50: var(--text-50);
  --color-text-100: var(--text-100);
  --color-text-200: var(--text-200);
  --color-text-300: var(--text-300);
  --color-text-400: var(--text-400);
  --color-text-500: var(--text-500);
  --color-text-600: var(--text-600);
  --color-text-700: var(--text-700);
  --color-text-800: var(--text-800);
  --color-text-900: var(--text-900);
  --color-text-950: var(--text-950);

  --color-background-50: var(--background-50);
  --color-background-100: var(--background-100);
  --color-background-200: var(--background-200);
  --color-background-300: var(--background-300);
  --color-background-400: var(--background-400);
  --color-background-500: var(--background-500);
  --color-background-600: var(--background-600);
  --color-background-700: var(--background-700);
  --color-background-800: var(--background-800);
  --color-background-900: var(--background-900);
  --color-background-950: var(--background-950);

  --color-primary-50: var(--primary-50);
  --color-primary-100: var(--primary-100);
  --color-primary-200: var(--primary-200);
  --color-primary-300: var(--primary-300);
  --color-primary-400: var(--primary-400);
  --color-primary-500: var(--primary-500);
  --color-primary-600: var(--primary-600);
  --color-primary-700: var(--primary-700);
  --color-primary-800: var(--primary-800);
  --color-primary-900: var(--primary-900);
  --color-primary-950: var(--primary-950);

  --color-secondary-50: var(--secondary-50);
  --color-secondary-100: var(--secondary-100);
  --color-secondary-200: var(--secondary-200);
  --color-secondary-300: var(--secondary-300);
  --color-secondary-400: var(--secondary-400);
  --color-secondary-500: var(--secondary-500);
  --color-secondary-600: var(--secondary-600);
  --color-secondary-700: var(--secondary-700);
  --color-secondary-800: var(--secondary-800);
  --color-secondary-900: var(--secondary-900);
  --color-secondary-950: var(--secondary-950);

  --color-accent-50: var(--accent-50);
  --color-accent-100: var(--accent-100);
  --color-accent-200: var(--accent-200);
  --color-accent-300: var(--accent-300);
  --color-accent-400: var(--accent-400);
  --color-accent-500: var(--accent-500);
  --color-accent-600: var(--accent-600);
  --color-accent-700: var(--accent-700);
  --color-accent-800: var(--accent-800);
  --color-accent-900: var(--accent-900);
  --color-accent-950: var(--accent-950);
}
